<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.skydragon.gplay.runtime"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true">
    </application>

</manifest>
